<div *ngIf="pokemon !== null; else notFound" class="card" [ngClass]="getCardBackgroundColor()">
  <div class="content">
    <div class="top">
      <div class="name">
        <h2>{{primeraMayuscula( pokemon?.name )}}</h2>
      </div>
      <div class="types">
        <div *ngFor="let item of pokemon?.types">
          <img src="../../../assets/img/types/{{item.type.name}}.png" alt="">
        </div>
      </div>
    </div>
    <div class="middle">
      <div>
        <p>Altura: {{ pokemon?.height }}</p>
        <p>Peso: {{ pokemon?.weight }}</p>
      </div>
      <img src="{{ pokemon?.sprites.other.dream_world.front_default }}" />
    </div>
    <div class="bottom">
      <div *ngFor="let item of pokemon?.stats">
        <p>{{ item.stat.name }}</p>
        <p>{{ item.base_stat }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #notFound>
  <div class="card-not-found">
    <p>Pokemon no encontrado</p>
  </div>
</ng-template>
